*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    font-family: 'Karla', sans-serif;
}
.f-18{
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}
.yellow-color{
  color: #fbcd06;
}
.black-color{
  color: #222;
}